.app {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

/* стиль для контейнера с CircularProgress */
.circularProgressContainer {
    position: fixed;
    top: 30%;
    text-align: center;
    width: 100%;
}
